<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% block body %}
{% endblock %}
<div class="container">
    A-Z
    <a href="{{ path('car_view',{'sortBy': 'name', 'sortOrder': 'asc'}) }}"
       class="button">&uarr;</a>
    <a href="{{ path('car_view',{'sortBy': 'name', 'sortOrder': 'desc'}) }}"
       class="button">&darr;</a>
    Year of production
    <a href="{{ path('car_view',{'sortBy': 'year', 'sortOrder': 'asc'}) }}"
       class="button">&uarr;</a>
    <a href="{{ path('car_view',{'sortBy': 'year', 'sortOrder': 'desc'}) }}"
       class="button">&darr;</a></br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Model</th>
        <th scope="col">Year of production</th>
        <th scope="col">DriveTrain</th>
        <th scope="col">Edit</th>
        <th scope="col">Delate</th>
    </tr>
    </thead>
    {% for car in cars %}
        <tbody>
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.name }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year|date("m/d/Y") }}</td>
            <td>@mdo</td>
            <td><a href="{{ path('car_delete',{'carId': car.id}) }}" class="button">Delete</a></td>
            <td><a href="{{ path('car_edit',{'carId': car.id}) }}" class="button">Edit</a></td>
        </tr>
        </tbody>
    {% endfor %}

</table>
</div>

</body>
</html>
